@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>
<p>Learn more about Joel Hilton:</p>

<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale Podcast</a></li>
</ul>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/images/JoelHiltonHeadshot.jpg" alt="Joel Hilton" class="img-fluid">
</a>
